<?xml version="1.0"?>
<ruleset name="WP App Container Standard">

    <description>Inpsyde PHP coding standard configured for WP App Container.</description>

    <arg value="sp"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <config name="testVersion" value="7.2-"/>
    <config name="php_version" value="70200"/>

    <file>./src</file>
    <file>./tests/</file>

    <exclude-pattern>*/tests/example/project/plugins/*</exclude-pattern>
    <exclude-pattern>*/tests/example/project/themes/*</exclude-pattern>
    <exclude-pattern>*/tests/example/vendor/*</exclude-pattern>
    <exclude-pattern>*/tests/example/patchwork.php</exclude-pattern>
    <exclude-pattern>*/tests/example/wordpress.php</exclude-pattern>

    <rule ref="Inpsyde">
        <exclude name="WordPressVIPMinimum.Constants.ConstantString.NotCheckingConstantName"/>
    </rule>

    <rule ref="WordPress.Security">
        <exclude-pattern>*/tests/*</exclude-pattern>
    </rule>

    <rule ref="Inpsyde.CodeQuality.FunctionLength">
        <exclude-pattern>*/tests/*</exclude-pattern>
    </rule>

    <rule ref="Inpsyde.CodeQuality.NestingLevel">
        <exclude-pattern>*/tests/*</exclude-pattern>
    </rule>

    <rule ref="Inpsyde.CodeQuality.ForbiddenPublicProperty">
        <exclude-pattern>*/tests/*</exclude-pattern>
    </rule>

    <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
        <exclude-pattern>*/tests/example/project/mu-plugins/*</exclude-pattern>
        <exclude-pattern>*/tests/example/sources/plugins/modularity-plugin/index.php</exclude-pattern>
        <exclude-pattern>*/tests/example/sources/plugins/wac-plugin/index.php</exclude-pattern>
    </rule>

    <rule ref="Inpsyde.CodeQuality.Psr4">
        <exclude-pattern>*/tests/example/project/mu-plugins/*</exclude-pattern>
    </rule>

</ruleset>
